<!-- <section class="position-relative py-4 py-xl-5"> -->
  <div class="container position-relative">
    <div class="row">        
        <div class="col-md-6">
          <canvas id="myChart"></canvas>
        </div>
        <!-- <hr /> -->
        <div class="col-md-6">
          <img
            class="img-fluid"
            src="data:image/png;base64, {{data.img_camo}}"
            style="height: 180px"
          />

          <img
            class="img-fluid"
            src="data:image/png;base64, {{data.soldier_camo}}"
            style="height: 180px"
          />

          <img
            class="img-fluid"
            src="data:image/png;base64, {{data.img}}"
            style="width: 360px;"
          />
        </div>
        
      
    </div>
  </div>
<!-- </section> -->
{%if request.method == "POST"%}
<script>

    var ctx = document.getElementById('myChart');

    var data = {
      labels: {{data.labels}},
      datasets: [{
        label: 'Area occupied',
        data: {{data.sizes}},
        backgroundColor: [
        {% for Color in data.Colors %}
        "rgb{{Color}}",
        {% endfor %}
        ],
        hoverOffset: 4
      }]
    };
    var config = {
      type: 'pie',
      data: data,
    };
    var myChart = new Chart(ctx, config);

  ///////////////

  $( function() {
    $( "#sortable" ).sortable({
      revert: true
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  } );
</script>
{%endif%}
