<section class="position-relative py-4 py-xl-5">
  <div class="container position-relative">
    <div class="row">
      <div class="col">
        
        <div>
          <canvas id="myChart"></canvas>
        </div>
        <hr />

        <img
          class="img-fluid"
          src="data:image/png;base64, {{img_camo}}"
          style="height: 180px"
        />

        <img
          class="img-fluid"
          src="data:image/png;base64, {{soldier_camo}}"
          style="height: 180px"
        />

        <img
          class="img-fluid"
          src="data:image/png;base64, {{img}}"
          style="height: 180px"
        />

        
      </div>
    </div>
  </div>
</section>
{%if request.method == "POST"%}
<script>

    const ctx = document.getElementById('myChart');

    const data = {
      labels: {{labels}},
      datasets: [{
        label: 'Area occupied',
        data: {{sizes}},
        backgroundColor: [
        {% for Color in Colors %}
        "rgb{{Color}}",
        {% endfor %}
        ],
        hoverOffset: 4
      }]
    };
    const config = {
      type: 'pie',
      data: data,
    };
    const myChart = new Chart(ctx, config);

  ///////////////

  $( function() {
    $( "#sortable" ).sortable({
      revert: true
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  } );
</script>
{%endif%}
