<form
action="/evolve"
method="GET"
name="ga_evolve"
enctype="text/plain"
>
<div class="row" id="imageStrip">
  <div class="col section" id="section0">
    <img
      alt="img_gene_0"
      class="img-thumbnail"
      src="static/scene/gene_0.png"
      id="img_gene_0"
      width="200"
    />
    <br />
    <label for="auto_fitness_0">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_0"
      name="fitness[0]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(0)"
    />
    <a
      href="static/scene/gene_0.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>

  <div class="col section" id="section1">
    <img
      alt="img_gene_1"
      class="img-thumbnail"
      src="static/scene/gene_1.png"
      id="img_gene_1"
      width="200"
    /><br />
    <label for="auto_fitness_1">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_1"
      name="fitness[1]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(1)"
    />
    <a
      href="static/scene/gene_1.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section2">
    <img
      alt="img_gene_2"
      class="img-thumbnail"
      src="static/scene/gene_2.png"
      id="img_gene_2"
      width="200"
    /><br />
    <label for="auto_fitness_2">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_2"
      name="fitness[2]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(2)"
    />
    <a
      href="static/scene/gene_2.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section3">
    <img
      alt="img_gene_3"
      class="img-thumbnail"
      src="static/scene/gene_3.png"
      id="img_gene_3"
      width="200"
    /><br />
    <label for="auto_fitness_3">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_3"
      name="fitness[3]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(3)"
    />
    <a
      href="static/scene/gene_3.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section4">
    <img
      alt="img_gene_4"
      class="img-thumbnail"
      src="static/scene/gene_4.png"
      id="img_gene_4"
      width="200"
    /><br />
    <label for="auto_fitness_4">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_4"
      name="fitness[4]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(4)"
    />
    <a
      href="static/scene/gene_4.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section5">
    <img
      alt="img_gene_5"
      class="img-thumbnail"
      src="static/scene/gene_5.png"
      id="img_gene_5"
      width="200"
    /><br />
    <label for="auto_fitness_5">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_5"
      name="fitness[5]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(5)"
    />
    <a
      href="static/scene/gene_5.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section6">
    <img
      alt="img_gene_6"
      class="img-thumbnail"
      src="static/scene/gene_6.png"
      id="img_gene_6"
      width="200"
    /><br />
    <label for="auto_fitness_6">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_6"
      name="fitness[6]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(6)"
    />
    <a
      href="static/scene/gene_6.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section7">
    <img
      alt="img_gene_7"
      class="img-thumbnail"
      src="static/scene/gene_7.png"
      id="img_gene_7"
      width="200"
    /><br />
    <label for="auto_fitness_7">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_7"
      name="fitness[7]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(7)"
    />
    <a
      href="static/scene/gene_7.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section8">
    <img
      alt="img_gene_8"
      class="img-thumbnail"
      src="static/scene/gene_8.png"
      id="img_gene_8"
      width="200"
    /><br />
    <label for="auto_fitness_8">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_8"
      name="fitness[8]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(8)"
    />
    <a
      href="static/scene/gene_8.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
  <div class="col section" id="section9">
    <img
      alt="img_gene_9"
      class="img-thumbnail"
      src="static/scene/gene_9.png"
      id="img_gene_9"
      width="200"
    /><br />
    <label for="auto_fitness_9">Fitness Score:</label> <br />
    <input
      readonly="readonly"
      type="number"
      id="auto_fitness_9"
      name="fitness[9]"
      value="0"
      max="100"
      step="0.01"
      onClick="clearTimer(9)"
    />
    <a
      href="static/scene/gene_9.png"
      class="btn btn-primary"
      target="_blank"
      >Download Hi-Res</a
    >
  </div>
</div>
</form>